body {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
}
#container {
width:1000px;
height:550pc;
margin:20px auto;
}
#keyboard {

}
#calculator {
    width:;
    height:;
    margin:;
}